<section class="privacy-policy">
  <div class="privacy-policy-container">
    <!-- Heading Section -->
    <div class="heading-privacy-policyss" data-aos="fade-up" data-aos-duration="3000">
      <h1>Privacy Policy</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.</p>
    </div>

    <!-- Introduction Section -->
    <div class="introduction-container" data-aos="fade-up" data-aos-duration="3000">
      <h2 class="intro-heading">Introduction</h2>
      <p class="intro-para">This Policy details our commitment to protecting the privacy of individuals who:</p>
      <div class="intro-p">
        <p class="intro-p-num">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae
          sit est quisque. Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.</p>
        <p class="intro-p-num">2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae
          sit est quisque. Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.</p>
        <p class="intro-p-num">3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae
          sit est quisque. Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.</p>
      </div>
      <p class="sub-intro" id="sub">This Privacy Policy will help you better understand how we collect, use, and share
        your personal information. If we change our privacy practices, we may update this privacy policy. If any changes
        are significant, we will let you know.</p>
    </div>

    <!-- Values Section -->
    <div class="value-container" data-aos="fade-up" data-aos-duration="3000">
      <h2 class="intro-heading">Our values</h2>
      <p class="intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit
        est quisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
        quisque.</p>
      <div class="intro-p">
        <p class="intro-p-num">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae
          sit est quisque. Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.</p>
        <p class="intro-p-num">2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae
          sit est quisque. Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.</p>
        <p class="intro-p-num">3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae
          sit est quisque. Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.</p>
      </div>
      <div class="values-features">
        <!-- Value Feature 1 -->
        <div class="feature-flex">
          <div class="icon-value">
            <img src="../../assets/images/Group 991.svg" class="grp-img" alt="Feature Icon 1">
          </div>
          <div class="value-text">
            <h1>Your information belongs to you</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.</p>
          </div>
        </div>
        <!-- Value Feature 2 -->
        <div class="feature-flex">
          <div class="icon-value">
            <img src="../../assets/images/Group 992.svg" class="grp-img" alt="Feature Icon 2">
          </div>
          <div class="value-text">
            <h1>Your information is secure</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.</p>
          </div>
        </div>
        <div class="feature-flex">
          <div class="icon-value">
            <img src="../../assets/images/Group 993.svg" class="grp-img" alt="Feature Icon 1">
          </div>
          <div class="value-text">
            <h1>Your information belongs to you</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.</p>
          </div>
        </div>

      </div>
    </div>

    <!-- Process Section -->
    <div class="process-container" data-aos="fade-up" data-aos-duration="3000">
      <h2 class="intro-heading">Why we process your information</h2>
      <p class="intro-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit
        est quisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
        quisque.</p>
      <div class="intro-p">
        <p class="intro-p-num">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae
          sit est quisque. Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.</p>
        <p class="intro-p-num">2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae
          sit est quisque. Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.</p>
        <p class="intro-p-num">3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae
          sit est quisque. Lorem ipsum dolor sit amet consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.</p>
      </div>
      <p class="sub-intro">We only process personal information for these “legitimate interests” after considering the
        potential risks to your privacy—for example, by providing clear transparency into our privacy practices,
        offering you control over your personal information where appropriate, limiting the information we keep,
        limiting what we do with your information, who we send your information to, etc.</p>
    </div>
  </div>
</section>
