<section class="footer-section">
  <div class="parallel-div">
    <div class="first-div">
      <div class="heading-main">
        Language
      </div>
      <div class="input-div">
        <select>
          <option>
            English (UK)
          </option>
          <option>
            English (UK)
          </option>
          <option>
            English (UK)
          </option>
        </select>
      </div>
      <div class="heading-main">
        Currency
      </div>
      <div class="input-div">
        <select>
          <option>
            U.S. Dollar ($)
          </option>
          <option>
            AED ($)
          </option>
        </select>
      </div>
    </div>
    <div class="second-div">
      <div class="heading-main">
        Company
      </div>
      <div class="links-outer">
        <div class="links-inner">
          About Us
        </div>
        <div class="links-inner">
          Destinations
        </div>
        <div class="links-inner">
          Services
        </div>
        <div class="links-inner">
          Flights
        </div>
      </div>
    </div>
    <div class="second-div">
      <div class="heading-main">
        Help
      </div>
      <div class="links-outer">
        <div class="links-inner">
          Contact us
        </div>
        <div class="links-inner" routerLink="/faq">
          FAQs
        </div>
        <div class="links-inner">
          Terms and conditions
        </div>
        <div class="links-inner" routerLink="/privacy-policy">
          Privacy policy
        </div>
        <div class="links-inner">
          Sitemap
        </div>
      </div>
    </div>
    <div class="fourth-div">
      <div class="heading-main">
        Payment methods possible
      </div>
      <div class="payment-outer-div">
        <img src="../../assets/images/payment-1.png" alt="">
        <img src="../../assets/images/payment-2.png" alt="">
        <img src="../../assets/images/payment-3.png" alt="">
        <img src="../../assets/images/payment-4.png" alt="">
        <img src="../../assets/images/payment-5.png" alt="">
      </div>
      <div class="texxt">
        Become a partner with us.
      </div>
      <div class="social-outer-div">
        <div class="social-outer">
          <img src="../../assets/images/twitter.svg" />
        </div>
        <div class="social-outer">
          <img src="../../assets/images/facebook.svg" />
        </div>
        <div class="social-outer">
          <img src="../../assets/images/insta.svg" />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="copyright-div">
  Copyright 2024, ThiqaTech. All Rights Reserved
</div>