<section class="details-banner-section">
  <div class="breadcrumb-section" data-aos="fade-down" data-aos-anchor-placement="center-bottom"
    data-aos-duration="2000">
    Home > Tours > Maecenas Tristique.
  </div>
  <div class="content-desc" data-aos="fade-down" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
    <div>
      <div class="heading">
        Maecenas tristique.
      </div>
      <div class="reviews-div">
        <img class="location-icon" src="../../assets/images/location-icon.svg" /> Makkah <img
          src="../../assets/images/rating.svg" /> 4.8
        (8.0K Reviews)
      </div>
    </div>
    <div class="like-share-div">
      <button class="like-btn">
        <img src="../../assets/images/like-filled-square.svg" />
      </button>
      <button class="share-btn">
        <img src="../../assets/images/share-icon-plain.svg" /> Share
      </button>
    </div>
  </div>

  <div class="images-outermost-div" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
    data-aos-duration="2000">
    <div class="left-col">
      <img src="../../assets/images/details-1.png" alt="">
    </div>
    <div class="right-col">
      <div class="topcol">
        <img src="../../assets/images/details-2.png" alt="">
      </div>
      <div class="bottom-outer">
        <div class="bottom-inner">
          <img src="../../assets/images/details-3.png" alt="">
        </div>
        <div class="bottom-inner">
          <img src="../../assets/images/details-4.png" alt="">
        </div>
      </div>

      <div class="button-div-photos">
        See All Photos
      </div>
    </div>
  </div>

  <div class="details-parallel-container">
    <div class="left-columns">
      <div class="features-outer" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="2000">
        <div class="features-inner">
          <div class="icon-div">
            <img src="../../assets/images/game-icons_duration.svg" alt="">
          </div>
          <div class="content-div">
            <div class="heading">Duration</div>
            <div class="textt">3 days</div>
          </div>
        </div>
        <div class="features-inner">
          <div class="icon-div">
            <img src="../../assets/images/bx_group.svg" alt="">
          </div>
          <div class="content-div">
            <div class="heading">Duration</div>
            <div class="textt">3 days</div>
          </div>
        </div>
        <div class="features-inner">
          <div class="icon-div">
            <img src="../../assets/images/material-symbols_language.svg" alt="">
          </div>
          <div class="content-div">
            <div class="heading">Duration</div>
            <div class="textt">3 days</div>
          </div>
        </div>
      </div>

      <div class="tour-overview-content" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="2000">
        <div class="headding">
          Tour Overview
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet consectetur. Ornare non quis risus orci. Tellus cras at fringilla euentum nisl
          maecenas nibh. Magna et fusce urna sem lacus mattis. Viverra velit cursus est aliquet mattis purus nibh
          feugiat in. Quis consequat.
        </div>

        <div class="tour-included-outer">
          <div class="tour-included-inner">
            <img src="../../assets/images/streamline_school-bus-side.svg" alt="">
            <div class="text">Lorem ipsum</div>
          </div>
          <div class="tour-included-inner">
            <img src="../../assets/images/lucide_hotel.svg" alt="">
            <div class="text">Lorem ipsum</div>
          </div>
          <div class="tour-included-inner">
            <img src="../../assets/images/fluent_food-24-regular.svg" alt="">
            <div class="text">Lorem ipsum</div>
          </div>
          <div class="tour-included-inner">
            <img src="../../assets/images/hugeicons_al-aqsa-mosque.svg" alt="">
            <div class="text">Lorem ipsum</div>
          </div>
        </div>
      </div>

      <div class="room-arrangement-div" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="2000">
        <div class="heading">
          Room Arrangements
        </div>
        <div class="outer-parallel">
          <div class="card-outer">
            <div class="icon-div">
              <img src="../../assets/images/bed-icon.svg" alt="">
            </div>
            <div class="heading">
              Bedroom 1
            </div>
            <div class="text">1 queen bed</div>
          </div>
          <div class="card-outer">
            <div class="icon-div">
              <img src="../../assets/images/bed-icon.svg" alt="">
            </div>
            <div class="heading">
              Bathroom 2
            </div>
            <div class="text">2 large bathrooms</div>
          </div>
          <div class="card-outer">
            <div class="icon-div">
              <img src="../../assets/images/bed-icon.svg" alt="">
            </div>
            <div class="heading">
              Master Bedroom
            </div>
            <div class="text">1 king-size bed</div>
          </div>
        </div>
      </div>

      <div class="attributes-div" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
        <div class="parallel-div">
          <div class="card-iner">
            <div class="icon-div">
              <img src="../../assets/images/line-md_cancel.svg" alt="">
            </div>
            <div>
              <div class="heading-div">
                Free cancellation
              </div>
              <div class="text-div">
                Cancel up to 24 hours in advance to receive a full refund
              </div>
            </div>
          </div>
          <div class="card-iner">
            <div class="icon-div">
              <img src="../../assets/images/bx_bx-spray-can.svg" alt="">
            </div>
            <div>
              <div class="heading-div">
                Health precautions
              </div>
              <div class="text-div">
                Special health and safety measures apply.
              </div>
            </div>
          </div>
        </div>

        <div class="parallel-div">
          <div class="card-iner">
            <div class="icon-div">
              <img src="../../assets/images/ant-design_field-time-outlined.svg" alt="">
            </div>
            <div>
              <div class="heading-div">
                Duration 3.5 hours
              </div>
              <div class="text-div">
                Check availability to see starting times.
              </div>
            </div>
          </div>
          <div class="card-iner">
            <div class="icon-div">
              <img src="../../assets/images/bx_bx-spray-can.svg" alt="">
            </div>
            <div>
              <div class="heading-div">
                Health precautions
              </div>
              <div class="text-div">
                Special health and safety measures apply.
              </div>
            </div>
          </div>
        </div>


        <div class="parallel-div">
          <div class="card-iner">
            <div class="icon-div">
              <img src="../../assets/images/fluent_flash-checkmark-16-filled.svg" alt="">
            </div>
            <div>
              <div class="heading-div">
                Instant confirmation
              </div>
              <div class="text-div">
                Don’t wait for the confirmation!
              </div>
            </div>
          </div>
          <div class="card-iner">
            <div class="icon-div">
              <img src="../../assets/images/healthicons_call-centre.svg" alt="">
            </div>
            <div>
              <div class="heading-div">
                Live tour guide in English
              </div>
              <div class="text-div">
                English - Arabic
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="journey-main-div" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="2000">
        <div class="main-heading">
          Journey
        </div>

        <div class="timeline-outer">
          <div class="circle-div">
          </div>
          <div class="text-div">
            Day 1: Integer massa blandit
          </div>
        </div>

        <div class="timeline-outer">
          <div class="circle-div circle-div-small">
          </div>
          <div class="text-div">
            Day 2: Integer massa blandit
          </div>
        </div>
        <div class="timeline-outer">
          <div class="circle-div circle-div-small">
          </div>
          <div class="text-div">
            Day 3: Integer massa blandit
          </div>
        </div>

        <div class="timeline-outer">
          <div class="circle-div circle-div-small">
          </div>
          <div class="text-div">
            Day 4: Integer massa blandit
          </div>
        </div>
        <div class="timeline-outer">
          <div class="circle-div circle-div-small">
          </div>
          <div class="text-div">
            Day 5: Integer massa blandit
          </div>
        </div>

        <div class="timeline-outer">
          <div class="circle-div circle-div-small">
          </div>
          <div class="text-div">
            Day 6: Integer massa blandit
          </div>
        </div>

        <div class="timeline-outer">
          <div class="circle-div-last">
          </div>
          <div class="text-div">
            Day 7: Integer massa blandit
          </div>
        </div>
      </div>
      <hr />
      <div class="availability-calender" data-aos="fade-right" data-aos-anchor-placement="center-bottom"
        data-aos-duration="2000">
        <div class="heading-main">
          Availability Calendar
        </div>
        <mat-form-field>
          <mat-label>Check Available Dates</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>



      </div>
      <hr />
      <div class="meeting-point" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
        <div class="heading-div">
          <div class="heading">Meeting Point</div>
          <div class="open-text">Open in Google Maps </div>
        </div>
        <img src="../../assets/images/map-img.png" />
      </div>
    </div>

    <div class="right-columns">
      <div class="first-right-inner">
        <div class="parallel-div" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000">
          <div class="text">From</div>
          <div class="price">$1,200</div>
        </div>

        <div class="time-div-outer" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000">
          <div class="inner-div">
            <div class="icon-div"><img src="../../assets/images/ic_baseline-flight-takeoff.svg" /></div>
            <div class="content-div">
              <div class="label-div">From</div>
              <div class="text-div">February 05 ~ March 14</div>
            </div>
          </div>
          <div class="inner-div">
            <div class="icon-div"><img src="../../assets/images/ic_baseline-flight-takeoff.svg" /></div>
            <div class="content-div">
              <div class="label-div">To</div>
              <div class="text-div">February 05 ~ March 14</div>
            </div>
          </div>
          <hr class="m-0" />
          <div class="inner-div">
            <div class="icon-div"><img src="../../assets/images/ic_baseline-flight-takeoff.svg" /></div>
            <div class="content-div">
              <div class="label-div">Time</div>
              <div class="text-div"><input type="time" placeholder="Choose Time"></div>
            </div>
          </div>
        </div>

        <div class="tickets-outer-div" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000">
          <div class="heading-div">
            Tickets
          </div>
          <div class="parallel-div">
            <div class="ticket-price">
              Adult (18+ years) <span> $282.00</span>
            </div>
            <div class="counter-div">
              <button class="plus-btn">
                <img src="../../assets/images/mingcute_add-fill.svg" />
              </button>
              <div class="count"> 2</div>
              <button class="minus-btn"> <img src="../../assets/images/fluent_subtract-12-filled.svg" /></button>
            </div>
          </div>
          <div class="parallel-div">
            <div class="ticket-price">
              Youth (13-17 years)<span> $168.00</span>
            </div>
            <div class="counter-div">
              <button class="plus-btn">
                <img src="../../assets/images/mingcute_add-fill.svg" />
              </button>
              <div class="count"> 2</div>
              <button class="minus-btn"> <img src="../../assets/images/fluent_subtract-12-filled.svg" /></button>
            </div>
          </div>
          <div class="parallel-div">
            <div class="ticket-price">
              Children (0-12 years)<span> $80.00</span>
            </div>
            <div class="counter-div">
              <button class="plus-btn">
                <img src="../../assets/images/mingcute_add-fill.svg" />
              </button>
              <div class="count"> 2</div>
              <button class="minus-btn"> <img src="../../assets/images/fluent_subtract-12-filled.svg" /></button>
            </div>
          </div>
        </div>
        <hr />
        <div class="tickets-outer-div" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000">
          <div class="heading-div">
            Package
          </div>
          <div class="parallel-div">
            <div class="inner-parallel">
              <div class="icon">
                <img src="../../assets/images/hotel-icon-yellow.svg" />
              </div>
              <div class="text">
                Hotels
              </div>
            </div>
            <div class="inner-parallel">
              <div class="icon">
                <img src="../../assets/images/flight-icon-yellow.svg" />
              </div>
              <div class="text">
                Flight
              </div>
            </div>
            <div class="inner-parallel">
              <div class="icon">
                <img src="../../assets/images/meal-icon-yellow.svg" />
              </div>
              <div class="text">
                Meals
              </div>
            </div>
          </div>


        </div>
        <hr />

        <div class="tickets-outer-div" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000">
          <div class="heading-div">
            Add Extra
          </div>
          <div class="parallel-div">
            <div class="checkbox-parallel">
              <div class="input-div">
                <input type="checkbox"> Add Service per booking
              </div>
              <div class="price-div">
                $40
              </div>
            </div>

          </div>
          <div class="parallel-div">
            <div class="checkbox-parallel">
              <div class="input-div">
                <input type="checkbox"> Add Service per person
              </div>
              <div class="price-div">
                $40
              </div>
            </div>

          </div>
          <div class="parallel-div">
            <div class="checkbox-parallel">
              <div class="text-desc">
                Adult: <span>$17.00</span> - Youth: <span>$14.00</span>
              </div>
            </div>

          </div>
        </div>
        <hr />

        <div class="total-price-div" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000">
          <div class="text">Total:</div>
          <div class="total-price">$530.00</div>
        </div>

        <div class="book-now-btn-div" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000">
          <button>Book Now</button>
        </div>
      </div>

      <div class="first-right-inner">
        <div class="normal-heading-div">
          Travel Agency Details
        </div>
        <img src="../../assets/images/slogan.jpg" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000" />

        <div class="time-div-outer" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000">
          <div class="inner-div">
            <div class="icon-div"><img src="../../assets/images/mdi_address-marker.svg" /></div>
            <div class="content-div">
              <div class="label-div">Address</div>
              <div class="text-div">Lorem ipsum dolor sit</div>
            </div>
          </div>

          <hr class="m-0" />
          <div class="inner-div">
            <div class="icon-div"><img src="../../assets/images/material-symbols_call-log.svg" /></div>
            <div class="content-div">
              <div class="label-div">Contact Us</div>
              <div class="text-div">+966 9999 9999 99</div>
            </div>
          </div>
        </div>
        <div class="book-now-btn-div" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="3000">
          <button>View More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="you-might-also-like-section">
    <div class="inner-outer-div">
      <div class="content-descs" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="3000">
        <div class="heading">
          You Might Also Like.
        </div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.
        </div>
      </div>

      <div class="slider-outer-div" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
        data-aos-duration="3000">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="youMightLikeSlider">
          <div ngxSlickItem>
            <div class="might-like-card">
              <div class="img-div">
                <img src="../../assets/images/pexels-jess-loiterton-4321085.png" />
              </div>
              <div class="content-div">
                <div class="reviews-div">
                  <div class="location">
                    <img src="../../assets/images/location-icon-green.svg" /> Makkah
                  </div>
                  <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.7</div>
                </div>
                <div class="headingg">
                  Destination1
                </div>
                <div class="textt">7 Days Tour on 2 person </div>
                <div class="parallell">
                  <div class="price-div">$1500 </div>
                  <div class="btn-div">
                    <button>View More <img src="../../assets/images/arrow_back_black_24dp 1.svg" /></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem>
            <div class="might-like-card">
              <div class="img-div">
                <img src="../../assets/images/pexels-jess-loiterton-4321085 (1).png" />
              </div>
              <div class="content-div">
                <div class="reviews-div">
                  <div class="location">
                    <img src="../../assets/images/location-icon-green.svg" /> Makkah
                  </div>
                  <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.7</div>
                </div>
                <div class="headingg">
                  Destination1
                </div>
                <div class="textt">7 Days Tour on 2 person </div>
                <div class="parallell">
                  <div class="price-div">$1500 </div>
                  <div class="btn-div">
                    <button>View More <img src="../../assets/images/arrow_back_black_24dp 1.svg" /></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem>
            <div class="might-like-card">
              <div class="img-div">
                <img src="../../assets/images/pexels-jess-loiterton-4321085 (2).png" />
              </div>
              <div class="content-div">
                <div class="reviews-div">
                  <div class="location">
                    <img src="../../assets/images/location-icon-green.svg" /> Makkah
                  </div>
                  <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.7</div>
                </div>
                <div class="headingg">
                  Destination1
                </div>
                <div class="textt">7 Days Tour on 2 person </div>
                <div class="parallell">
                  <div class="price-div">$1500 </div>
                  <div class="btn-div">
                    <button>View More <img src="../../assets/images/arrow_back_black_24dp 1.svg" /></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem>
            <div class="might-like-card">
              <div class="img-div">
                <img src="../../assets/images/pexels-jess-loiterton-4321085 (3).png" />
              </div>
              <div class="content-div">
                <div class="reviews-div">
                  <div class="location">
                    <img src="../../assets/images/location-icon-green.svg" /> Makkah
                  </div>
                  <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.7</div>
                </div>
                <div class="headingg">
                  Destination1
                </div>
                <div class="textt">7 Days Tour on 2 person </div>
                <div class="parallell">
                  <div class="price-div">$1500 </div>
                  <div class="btn-div">
                    <button>View More <img src="../../assets/images/arrow_back_black_24dp 1.svg" /></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem>
            <div class="might-like-card">
              <div class="img-div">
                <img src="../../assets/images/pexels-jess-loiterton-4321085 (2).png" />
              </div>
              <div class="content-div">
                <div class="reviews-div">
                  <div class="location">
                    <img src="../../assets/images/location-icon-green.svg" /> Makkah
                  </div>
                  <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.7</div>
                </div>
                <div class="headingg">
                  Destination1
                </div>
                <div class="textt">7 Days Tour on 2 person </div>
                <div class="parallell">
                  <div class="price-div">$1500 </div>
                  <div class="btn-div">
                    <button>View More <img src="../../assets/images/arrow_back_black_24dp 1.svg" /></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>


  <div class="you-might-also-like-section">
    <div class="inner-outer-div">
      <div class="content-descs" data-aos="fade-up" data-aos-anchor-placement="top" data-aos-duration="3000">
        <div class="heading">
          Featured Trips
        </div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
          quisque.
        </div>
      </div>

      <div class="slider-outer-div" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="3000">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="youMightLikeSlider">
          <div ngxSlickItem>
            <div class="featured-trips-card">
              <div class="img-div">
                <img src="../../assets/images/featured-1.png" />
                <img class="trip-guide" src="../../assets/images/trip-guide-1.svg" alt="">
              </div>
              <div class="content-div">
                <div class="location">
                  Makkah
                </div>
                <div class="headingg">
                  Lorem ipsum dolor sit amet
                </div>
                <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
                <hr />
                <div class="parallell">
                  <div class="text-div">4 Days </div>
                  <div class="price-div">From <span>$1500 </span></div>

                </div>
              </div>
            </div>
          </div>

          <div ngxSlickItem>
            <div class="featured-trips-card">
              <div class="img-div">
                <img src="../../assets/images/featured-2.png" />
                <img class="trip-guide" src="../../assets/images/trip-guide-2.svg" alt="">
              </div>
              <div class="content-div">
                <div class="location">
                  Makkah
                </div>
                <div class="headingg">
                  Lorem ipsum dolor sit amet
                </div>
                <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
                <hr />
                <div class="parallell">
                  <div class="text-div">4 Days </div>
                  <div class="price-div">From <span>$1500 </span></div>

                </div>
              </div>
            </div>
          </div>

          <div ngxSlickItem>
            <div class="featured-trips-card">
              <div class="img-div">
                <img src="../../assets/images/featured-3.png" />
                <img class="trip-guide" src="../../assets/images/trip-guide-3.svg" alt="">
              </div>
              <div class="content-div">
                <div class="location">
                  Makkah
                </div>
                <div class="headingg">
                  Lorem ipsum dolor sit amet
                </div>
                <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
                <hr />
                <div class="parallell">
                  <div class="text-div">4 Days </div>
                  <div class="price-div">From <span>$1500 </span></div>

                </div>
              </div>
            </div>
          </div>

          <div ngxSlickItem>
            <div class="featured-trips-card">
              <div class="img-div">
                <img src="../../assets/images/featured-4.png" />
                <img class="trip-guide" src="../../assets/images/trip-guide-4.svg" alt="">
              </div>
              <div class="content-div">
                <div class="location">
                  Makkah
                </div>
                <div class="headingg">
                  Lorem ipsum dolor sit amet
                </div>
                <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
                <hr />
                <div class="parallell">
                  <div class="text-div">4 Days </div>
                  <div class="price-div">From <span>$1500 </span></div>

                </div>
              </div>
            </div>
          </div>

          <div ngxSlickItem>
            <div class="featured-trips-card">
              <div class="img-div">
                <img src="../../assets/images/featured-2.png" />
                <img class="trip-guide" src="../../assets/images/trip-guide-2.svg" alt="">
              </div>
              <div class="content-div">
                <div class="location">
                  Makkah
                </div>
                <div class="headingg">
                  Lorem ipsum dolor sit amet
                </div>
                <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
                <hr />
                <div class="parallell">
                  <div class="text-div">4 Days </div>
                  <div class="price-div">From <span>$1500 </span></div>

                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem>
            <div class="featured-trips-card">
              <div class="img-div">
                <img src="../../assets/images/featured-3.png" />
                <img class="trip-guide" src="../../assets/images/trip-guide-3.svg" alt="">
              </div>
              <div class="content-div">
                <div class="location">
                  Makkah
                </div>
                <div class="headingg">
                  Lorem ipsum dolor sit amet
                </div>
                <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
                <hr />
                <div class="parallell">
                  <div class="text-div">4 Days </div>
                  <div class="price-div">From <span>$1500 </span></div>

                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>