<section class="faq-section" data-aos="fade-up" data-aos-duration="3000">
  <div class="content-div">
    <div class="heading">Jabal Arafat</div>
    <div class="textt">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
      duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    </div>
    <div class="parallel">
      <div class="button-div">
        <button class="explore-btn">
          Explore
        </button>
      </div>
      <div class="share-like">
        <button>
          <img src="../../assets/images/like-green.svg" />
        </button>
        <button> <img src="../../assets/images/share-green.svg" /> </button>
      </div>
    </div>
  </div>
</section>

<section class="faqs-main-div">
  <div class="section-heading-div" data-aos="fade-up" data-aos-duration="3000">
    <div class="section-heading">
      F.A.Q
    </div>
    <div class="section-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
    </div>
  </div>

  <div class="heading-browse" data-aos="fade-up" data-aos-duration="3000">
    <img src="../../assets/images/search-icon.svg" alt=""> Browse common questions
  </div>
  <div class="outer-tab-div" data-aos="fade-up" data-aos-duration="3000">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="booking-tab" data-bs-toggle="tab" data-bs-target="#booking-tab-pane"
          type="button" role="tab" aria-controls="booking-tab-pane" aria-selected="true"><img
            src="../../assets/images/octicon_bookmark-16 (1).svg" />Booking</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="renting-tab" data-bs-toggle="tab" data-bs-target="#renting-tab-pane" type="button"
          role="tab" aria-controls="renting-tab-pane" aria-selected="false"><img
            src="../../assets/images/renting.svg" />Renting</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="location-tab" data-bs-toggle="tab" data-bs-target="#location-tab-pane"
          type="button" role="tab" aria-controls="location-tab-pane" aria-selected="false"><img
            src="../../assets/images/locations-icon-black.svg" />Locations</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="host-tab" data-bs-toggle="tab" data-bs-target="#host-tab-pane" type="button"
          role="tab" aria-controls="host-tab-pane" aria-selected="false"><img
            src="../../assets/images/host.svg" />Hosts</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="price-tab" data-bs-toggle="tab" data-bs-target="#price-tab-pane" type="button"
          role="tab" aria-controls="price-tab-pane" aria-selected="false"><img
            src="../../assets/images/cash.svg" />Prices</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="billing-tab" data-bs-toggle="tab" data-bs-target="#billing-tab-pane" type="button"
          role="tab" aria-controls="billing-tab-pane" aria-selected="false"><img
            src="../../assets/images/web.svg" />Billing & accounts</button>
      </li>

    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="booking-tab-pane" role="tabpanel" aria-labelledby="booking-tab"
        tabindex="0">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                How many apartments do you have in this location?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Do we have a parking space?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How can we cancel a booking?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Do you accept groups of 5 people?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est quisque.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="renting-tab-pane" role="tabpanel" aria-labelledby="renting-tab" tabindex="0">
        renting
      </div>
      <div class="tab-pane fade" id="location-tab-pane" role="tabpanel" aria-labelledby="location-tab" tabindex="0">
        location
      </div>
      <div class="tab-pane fade" id="host-tab-pane" role="tabpanel" aria-labelledby="host-tab" tabindex="0">host
      </div>
      <div class="tab-pane fade" id="price-tab-pane" role="tabpanel" aria-labelledby="price-tab" tabindex="0">
        Prices
      </div>
      <div class="tab-pane fade" id="billing-tab-pane" role="tabpanel" aria-labelledby="billing-tab" tabindex="0">
        Billing & accounts
      </div>

    </div>
  </div>
</section>


<!-- Trending Now -->
<section class="trending-now-section">
  <div class="parallel-div">
    <div class="img-div" data-aos="fade-up" data-aos-duration="3000">
      <img src="../../assets/images/trending-now.png" alt="">
    </div>
    <div class="content-div" data-aos="fade-up" data-aos-duration="3000">
      <div class="tag">
        Trending Now
      </div>
      <div class="heading">
        Jabal Arafat
      </div>
      <div class="content-parallel-div">
        <div class="location">
          <img src="../../assets/images/location-icon.svg" />
        </div>
        <div class="ratings-and-reviews">
          Makkah &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; <img src="../../assets/images/rating.svg" />
          &nbsp;&nbsp;
          4.9 &nbsp; (300 reviews)
        </div>
      </div>
      <div class="text-div">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
        velit mollit. Exercitation veniam consequat sunt nostrud amet.

      </div>

      <div class="bottom-parallel">
        <div class="explore-div">
          <button>
            Explore
          </button>
        </div>
        <div class="like-share-div">
          <button>
            <img src="../../assets/images/like.svg" />
          </button>
          <button>
            <img src="../../assets/images/share.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="you-might-also-like-section">
  <div class="inner-outer-div" data-aos="fade-up" data-aos-duration="3000">
    <div class="content-descs">
      <div class="heading">
        Featured Trips
      </div>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet tempus felis vitae sit est
        quisque.
      </div>
    </div>

    <div class="slider-outer-div">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="youMightLikeSlider">
        <div ngxSlickItem>
          <div class="featured-trips-card">
            <div class="img-div">
              <img src="../../assets/images/featured-1.png" />
              <img class="trip-guide" src="../../assets/images/trip-guide-1.svg" alt="">
            </div>
            <div class="content-div">
              <div class="location">
                Makkah
              </div>
              <div class="headingg">
                Lorem ipsum dolor sit amet
              </div>
              <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
              <hr />
              <div class="parallell">
                <div class="text-div">4 Days </div>
                <div class="price-div">From <span>$1500 </span></div>

              </div>
            </div>
          </div>
        </div>

        <div ngxSlickItem>
          <div class="featured-trips-card">
            <div class="img-div">
              <img src="../../assets/images/featured-2.png" />
              <img class="trip-guide" src="../../assets/images/trip-guide-2.svg" alt="">
            </div>
            <div class="content-div">
              <div class="location">
                Makkah
              </div>
              <div class="headingg">
                Lorem ipsum dolor sit amet
              </div>
              <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
              <hr />
              <div class="parallell">
                <div class="text-div">4 Days </div>
                <div class="price-div">From <span>$1500 </span></div>

              </div>
            </div>
          </div>
        </div>

        <div ngxSlickItem>
          <div class="featured-trips-card">
            <div class="img-div">
              <img src="../../assets/images/featured-3.png" />
              <img class="trip-guide" src="../../assets/images/trip-guide-3.svg" alt="">
            </div>
            <div class="content-div">
              <div class="location">
                Makkah
              </div>
              <div class="headingg">
                Lorem ipsum dolor sit amet
              </div>
              <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
              <hr />
              <div class="parallell">
                <div class="text-div">4 Days </div>
                <div class="price-div">From <span>$1500 </span></div>

              </div>
            </div>
          </div>
        </div>

        <div ngxSlickItem>
          <div class="featured-trips-card">
            <div class="img-div">
              <img src="../../assets/images/featured-4.png" />
              <img class="trip-guide" src="../../assets/images/trip-guide-4.svg" alt="">
            </div>
            <div class="content-div">
              <div class="location">
                Makkah
              </div>
              <div class="headingg">
                Lorem ipsum dolor sit amet
              </div>
              <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
              <hr />
              <div class="parallell">
                <div class="text-div">4 Days </div>
                <div class="price-div">From <span>$1500 </span></div>

              </div>
            </div>
          </div>
        </div>

        <div ngxSlickItem>
          <div class="featured-trips-card">
            <div class="img-div">
              <img src="../../assets/images/featured-2.png" />
              <img class="trip-guide" src="../../assets/images/trip-guide-2.svg" alt="">
            </div>
            <div class="content-div">
              <div class="location">
                Makkah
              </div>
              <div class="headingg">
                Lorem ipsum dolor sit amet
              </div>
              <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
              <hr />
              <div class="parallell">
                <div class="text-div">4 Days </div>
                <div class="price-div">From <span>$1500 </span></div>

              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem>
          <div class="featured-trips-card">
            <div class="img-div">
              <img src="../../assets/images/featured-3.png" />
              <img class="trip-guide" src="../../assets/images/trip-guide-3.svg" alt="">
            </div>
            <div class="content-div">
              <div class="location">
                Makkah
              </div>
              <div class="headingg">
                Lorem ipsum dolor sit amet
              </div>
              <div class="rating"><img src="../../assets/images/Star 2.svg" /> 4.8 (243) </div>
              <hr />
              <div class="parallell">
                <div class="text-div">4 Days </div>
                <div class="price-div">From <span>$1500 </span></div>

              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>

<!-- Why choose us -->
<section class="why-choose-us-section">
  <div class="parallel-div">
    <div class="content-div">
      <div class="heading">
        Why <span>Choose</span> Us
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, cons
        ectetur adipiscing elit.
      </div>
      <button>
        View More
      </button>
    </div>
    <div class="cards-parallel-div">
      <div class="why-choose-us-card">
        <div class="icon-div">
          <img src="../../assets/images/travel-agency.svg" />
        </div>
        <div class="heading">
          Best Travel Agency
        </div>
        <div class="text">
          Travel agencies that provide
          round trip, one way, and multi
          trip services.
        </div>
      </div>
      <div class="why-choose-us-card">
        <div class="icon-div">
          <img src="../../assets/images/competitive-price.svg" />
        </div>
        <div class="heading">
          Competitive Price
        </div>
        <div class="text">
          The price offered are affordable
          starting from the ordinary to the
          exclusive.
        </div>
      </div>
      <div class="why-choose-us-card">
        <div class="icon-div">
          <img src="../../assets/images/global-coverage.svg" />
        </div>
        <div class="heading">
          Global Coverage
        </div>
        <div class="text">
          There are many tourist attractions,
          hotels and interesting entertainment.
        </div>
      </div>
    </div>
  </div>
</section>
